<!--
{% set project_name='snipinator' %}
{% set project_name_proper='Snipinator' %}
{% set last_unstable_release=shell('tomlq -r \'.["tool"]["snipinator-project-metadata"]["last_unstable_release"]\' pyproject.toml',
                                   include_args=False) | trim %}
{% set last_stable_release=shell('tomlq -r \'.["tool"]["snipinator-project-metadata"]["last_stable_release"]\' pyproject.toml',
                                 include_args=False) | trim %}
{% set tested_python_versions=shell('python -m yq -r -c \'[.jobs["build-and-test"]["strategy"]["matrix"]["python-version"][].gh] | join(", ")\' .github/workflows/build-and-test.yml',
                                 include_args=False) | trim %}
{% set badge_color='0A1E1E' %}

-->

# <div align="center">![{{project_name_proper}}][22]</div>

<div align="center">

<!-- Icons from https://lucide.dev/icons/users -->
<!-- Icons from https://lucide.dev/icons/laptop-minimal -->

![**Audience:** Developers][19] ![**Platform:** Linux][20]

</div>

<p align="center">
  <strong>
    <a href="#-features">🎇Features</a>
    &nbsp;&bull;&nbsp;
    <a href="#-installation">🏠Installation</a>
    &nbsp;&bull;&nbsp;
    <a href="#-usage">🚜Usage</a>
    &nbsp;&bull;&nbsp;
    <a href="#-command-line-options">💻CLI</a>
    &nbsp;&bull;&nbsp;
    <a href="#-examples">💡Examples</a>
  </strong>
</p>
<p align="center">
  <strong>
    <a href="#-jinja2-api">🤖Jinja2 API</a>
    &nbsp;&bull;&nbsp;
    <a href="#-requirements">✅Requirements</a>
    &nbsp;&bull;&nbsp;
    <a href="#-gotchas-and-limitations">🚸Gotchas</a>
  </strong>
</p>

<div align="center">

![Top language][9] [![GitHub License][3]][21] [![PyPI - Version][4]][5]
[![Python Version][8]][5]

**CLI to embed (testable) snippets from your codebase into your README**

</div>

---

<div align="center">

|                   | Status                     | Stable                    | Unstable                  |                    |
| ----------------- | -------------------------- | ------------------------- | ------------------------- | ------------------ |
| **[Master][17]**  | [![Build and Test][1]][2]  | [![since tagged][6]][10]  |                           | ![last commit][7]  |
| **[Develop][18]** | [![Build and Test][11]][2] | [![since tagged][12]][13] | [![since tagged][15]][16] | ![last commit][14] |

</div>

<img src=".github/demo.gif" alt="Demo" width="100%">

## ❔ What

What it does: **{{project_name_proper}}** lets you take a `EXAMPLE.md` template
and include snippets from your (working and tested) codebase.

Turn this ({{ path('./snipinator/examples/EXAMPLE.md.jinja2', link='md') }}):

<!--{{ rawsnippet('./snipinator/examples/EXAMPLE.md.jinja2', backtickify='md', decomentify='nl') }}-->

Into this ({{ path('./snipinator/examples/EXAMPLE.generated.md', link='md') }}):

<!--{{ rawsnippet('./snipinator/examples/EXAMPLE.generated.md', backtickify='md', decomentify='nl') }}-->

## 🎇 Features

- 📦✅🪄 Supports anything **[Jinja2](https://github.com/pallets/jinja)**
  supports.
- 🥇🐍📜 First-class support for **python** source code.
  - Can include python function signatures, docstrings, entire function source
    code, classes.
- ✂🌐🗂️ Snip from **any source code language**.
  - Put delimiter markers into the code (e.g `# START_SNIPPET`,
    `# END_TEMPLATE`), and use [snippet()](#snippet).
- 🥇🔖📜 First-class support for **Markdown** templates (with `backtickify`,
  `decomentify`).
- 📦🐚🖨️ Can include **[shell](#shell) output**.
  - Supports ANSI colors :heart: :green_heart: :blue_heart: with SVG output
    :camera:.
- ⚙️🔗🗃️ More robust **references/links** to local files using [path()](#path).

## 🏠 Installation

```bash
# Install from pypi (https://pypi.org/project/{{project_name}}/)
pip install {{project_name}}

# Install from git (https://github.com/realazthat/{{project_name}})
pip install git+https://github.com/realazthat/{{project_name}}.git@v{{last_stable_release}}
```

## 🚜 Usage

Example template README:
({{path('./snipinator/examples/EXAMPLE.md.jinja2', link='md')}}):

<!--{{ rawsnippet('./snipinator/examples/EXAMPLE.md.jinja2', backtickify='md', decomentify='nl') }}-->

Generating the README:

<!--{{ shell('python -m snipinator.cli -t snipinator/examples/EXAMPLE.md.jinja2', backtickify='bash', decomentify='nl') }}-->

## 💻 Command Line Options

<!--{{ shell('python -m snipinator.cli --help',
             rich='README.help.generated.svg',
             rich_alt='Output of `python -m snipinator.cli --help`',
             rich_bg_color='black',
             rich_term='xterm-256color',
             rich_cols=160,
             decomentify='nl') }}-->

## 💡 Examples

- {{project_name_proper}}'s own `README`:
  - Template: {{path('./README.md.jinja2', link='md')}}.
  - Generated: {{path('./README.md', link='md')}}.
  - Generation script: {{path('./scripts/generate-readme.sh', link='md')}}.
- Example:
  - Template: {{path('./snipinator/examples/EXAMPLE.md.jinja2', link='md')}}.
  - Generated:
    {{path('./snipinator/examples/EXAMPLE.generated.md', link='md')}}.
  - Generation script: {{path('./snipinator/examples/example.sh', link='md')}}.
- Long example of many features:
  - Template:
    {{path('./snipinator/examples/LONG-EXAMPLE.md.jinja2', link='md')}}.
  - Generated:
    {{path('./snipinator/examples/LONG-EXAMPLE.generated.md', link='md')}}.
  - Generation script:
    {{path('./snipinator/examples/long-example.sh', link='md')}}.
- Projects using {{project_name_proper}}:
  - [realazthat/snipinator](https://github.com/realazthat/snipinator), See
    [snipinator/README.md.jinja2](https://github.com/realazthat/snipinator/blob/61cb88593baa099dc375cf5fd40679e4be673fc5/README.md.jinja2).
  - [realazthat/changeguard](https://github.com/realazthat/changeguard), See
    [changeguard/README.md.jinja2](https://github.com/realazthat/changeguard/blob/87d5104b52e651bb9195a3d46dd7f050acbcb534/README.md.jinja2).
  - [realazthat/comfy-catapult](https://github.com/realazthat/comfy-catapult),
    See
    [comfy-catapult/README.md.jinja2](https://github.com/realazthat/comfy-catapult/blob/ff353d48b25fa7b9c35fa11b31d5f2b3039c41c8/README.md.jinja2).
  - [realazthat/comfylowda](https://github.com/realazthat/comfylowda), See
    [comfylowda/README.md.jinja2](https://github.com/realazthat/comfylowda/blob/e01a32c38107aa0b89ccea21c4678d193a186a78/README.md.jinja2).
  - [realazthat/excalidraw-brute-export-cli](https://github.com/realazthat/excalidraw-brute-export-cli),
    See
    [excalidraw-brute-export-cli/README.md.jinja2](https://github.com/realazthat/excalidraw-brute-export-cli/blob/54a3b5b08b644e61c721ab565c576094234c5cc7/README.md.jinja2).

## 🤖 Jinja2 API

The regular Jinja2 v3 template syntax is supported. For more information, see
[Template Designer Documentation](https://jinja.palletsprojects.com/en/3.1.x/templates/).

Additional (Jinja2) functions made available:

### 🐍✂ pysnippet

Used several times in
{{path('./snipinator/examples/LONG-EXAMPLE.md.jinja2', link='md')}}.

Documentation:

<!--{{ pysignature(path='./snipinator/snipinate.py', symbol='pysnippet', backtickify='py', decomentify='nl') }}-->

### 🐍📖 pysignature

Used several times in {{path('./README.md.jinja2', link='md')}}.

Documentation:

<!--{{ pysignature(path='./snipinator/snipinate.py', symbol='pysignature', backtickify='py', decomentify='nl') }}-->

### ✂ rawsnippet

Used several times in {{path('./README.md.jinja2', link='md')}}.

Documentation:

<!--{{ pysignature(path='./snipinator/snipinate.py', symbol='rawsnippet', backtickify='py', decomentify='nl') }}-->

### ✂ snippet

Example in {{path('./snipinator/examples/LONG-EXAMPLE.md.jinja2', link='md')}}.

Documentation:

<!--{{ pysignature(path='./snipinator/snipinate.py', symbol='snippet', backtickify='py', decomentify='nl') }}-->

### 🐚 shell

Used several times in {{path('./README.md.jinja2', link='md')}}.

Documentation:

<!--{{ pysignature(path='./snipinator/snipinate.py', symbol='shell', backtickify='py', decomentify='nl') }}-->

### 🌀 path

Used several times in {{path('./README.md.jinja2', link='md')}}.

Documentation:

<!--{{ pysignature(path='./snipinator/snipinate.py', symbol='path', backtickify='py', decomentify='nl') }}-->

## ✅ Requirements

- Linux-like environment
  - Why: Uses pexpect.spawn().
- Python 3.8+
  - Why: Some dev dependencies require Python 3.8+.

### Tested Platforms

- WSL2 Ubuntu 20.04, Python `{{rawsnippet('./.python-version') | trim}}`.
- Ubuntu 20.04, Python `{{tested_python_versions}}`, tested in GitHub Actions
  workflow ([build-and-test.yml](./.github/workflows/build-and-test.yml)).

## 🚸 Gotchas and Limitations

- **Security:** This tool is NOT designed to be used with untrusted input. It is
  designed to be used with your own codebase. Even when using your own input, be
  careful that your own code won't be doing anything that might inadvertently
  include untrusted input.
- Be careful to escape `{% raw %}{{{% endraw %}` and `{% raw %}}}{% endraw %}`,
  or `{% raw %}{%{% endraw %}` and `{% raw %}%}{% endraw %}` or anything jinja2
  is sensitive to, in the templates. You'll have to escape it properly for
  jinja2, which involves using `{% raw %}{% raw %}{% endraw %}` and
  `{% raw %}{%{% endraw %} endraw {% raw %}%}{% endraw %}` tags.
- Recursion: {{project_name_proper}} doesn't directly support recursive
  inclusion of generated content. You can generate the contents of one file
  first, and include that generated content into another template. This would
  mean that you have to worry about order of generation.
- Embedded Backticks: If there are backticks in the included snippet, it might
  ruin the backticks you have in your markdown. This is why `backtickify`
  parameter exists in the API, so that {{project_name_proper}} provides the
  backticks, and it will detect if there are backticks in the snippet and use a
  different number of backticks on the entire snippet. So if the snippet
  contains ` ```My Snippet``` `, {{project_name_proper}} will use
  ` ````language ```My Snippet``` ```` ` and this is a method that Markdown uses
  to allow embedded backticks inside a code block.
- Formatting: The `{% raw %}{{{% endraw %}` `{% raw %}}}{% endraw %}` used to
  surround the snippet calls will unfortunately be formatted by a Markdown
  formatter and make the call invalid. Workarounds:
  - **Decommentify**: Put the snippet call inside a HTML comment, then use
    `decommentify` parameter. See
    {{path('./snipinator/examples/LONG-EXAMPLE.md.jinja2', link='md')}} for
    examples.
  - [prettier](https://prettier.io/) formatter is pretty good at leaving the
    Jinja2 calls alone, especially if you don't have any spaces. This especially
    helps for markdown "reference-style links" that have Jinja2 calls in them
    generating part of the URL, mdformat will URL encode the Jinja2 calls,
    and/or split them on spaces, which is not what we want. prettier will leave
    them alone.
  - For code blocks: If you embed the snippet call in a code block, it will not
    be formatted. However, because of **Embedded Backticks** gotcha, (see
    above), this is not recommended, unless you know for sure that there are no
    embedded backticks.
  - If your formatter supports a comment that disabled formatting, you can
    surround the snippet call with that comment.
- Editing the wrong file: When you have a template and a generated file, it is
  easy to edit the wrong file. To combat this:
  - {{project_name_proper}} provides a warning at the top of the generated file
    to remind you that it is auto-generated.
  - {{project_name_proper}} will optionally chmod the file for you to make it
    read-only.
- Newlines: This program assumes LF newlines. I don't know if it will work for
  anything else.
- Combining `backtickify` and `indent`: Doesn't make much sense, but if you do
  it, it will run backtickify first, then indent everything including the
  backticks.

## 🤏 Versioning

We use SemVer for versioning. For the versions available, see the tags on this
repository.

## 🔑 License

This project is licensed under the MIT License - see the
{{path('./LICENSE.md', link='md')}} file for details.

## 🙏 Thanks

Main libraries used in {{project_name_proper}} are:

- Templating: [Jinja2](https://github.com/pallets/jinja).
- Snippet inclusion: Python's AST library.
- Colorful CLI help: [rich-argparse](https://github.com/hamdanal/rich-argparse).
- ANSI coloring shell output:
  {[pexpect](https://pexpect.readthedocs.io/en/stable/),
  [rich](https://github.com/Textualize/rich)}.

## 🤝 Related Projects

Not complete, and not necessarily up to date. Make a PR
([contributions](#-contributions)) to insert/modify.

| Project                                                           | Stars     | Last Update  | Language   | Platform         | Similarity X Obviousness |
| ----------------------------------------------------------------- | --------- | ------------ | ---------- | ---------------- | ------------------------ |
| [mdx-js/mdx][54]                                                  | 16.8k     | `2024/04/17` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [zakhenry/embedme][24]                                            | 222       | `2023/11/08` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [cmacmackin/markdown-include][53]                                 | 95        | `2023/02/07` | Python     | N/A              | ⭐⭐⭐⭐⭐               |
| [SimonCropp/MarkdownSnippets][31]                                 | 23        | `2024/04/23` | .NET       | N/A              | ⭐⭐⭐⭐⭐               |
| [endocode/snippetextractor][41]                                   | 4         | `2014/08/16` | C++        | N/A              | ⭐⭐⭐⭐⭐               |
| [polywrap/doc-snippets][45]                                       | 3         | `2023/09/26` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [JulianCataldo/remark-embed][34]                                  | 2         | `2022/09/22` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [xrd/oreilly-snippets][47]                                        | 2         | `2015/10/15` | Ruby       | N/A              | ⭐⭐⭐⭐⭐               |
| [DamonOehlman/injectcode][48]                                     | 1         | `2021/08/01` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [electrovir/markdown-code-example-inserter][25]                   | 1         | `2024/02/19` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [andersfischernielsen/Simple-Embedded-Markdown-Code-Snippets][46] | 1         | `2021/02/12` | JS         | N/A              | ⭐⭐⭐⭐⭐               |
| [ildar-shaimordanov/git-markdown-snippet][36]                     | 0         | `2021/09/14` | Perl       | N/A              | ⭐⭐⭐⭐⭐               |
| [teyc/markdown-snippet][50]                                       | 0         | `2024/01/22` | Powershell | N/A              | ⭐⭐⭐⭐⭐               |
| [marc-bouvier-graveyard/baldir_markdown][51]                      | 0         | `2020/06/15` | Python     | N/A              | ⭐⭐⭐⭐⭐               |
| [dineshsonachalam/markdown-autodocs][26]                          | 176       | `2022/09/19` | JS         | GH Action        | ⭐⭐⭐⭐                 |
| [tokusumi/markdown-embed-code][29]                                | 28        | `2022/01/05` | Python     | VSCode Extension | ⭐⭐⭐⭐                 |
| [sammndhr/gridsome-remark-embed-snippet][37]                      | 2         | `2021/06/14` | JS         | [Gridsome][38]   | ⭐⭐⭐⭐                 |
| [NativeScript/markdown-snippet-injector][44]                      | 4         | `2019/01/24` | JS         | N/A              | ⭐⭐⭐⭐                 |
| [fuxingloh/remark-code-import-replace][49]                        | 0         | `2022/12/21` | JS         | Remark?          | ⭐⭐⭐⭐                 |
| [szkiba/mdcode][55]                                               | 15        | `2014/02/12` | Go         | N/A              | ⭐⭐⭐                   |
| [devincornell/pymddoc][43]                                        | 0         | `2023/12/01` | Python     | Python           | ⭐⭐⭐                   |
| [shiftkey/scribble][32] ([docs][33])                              | 40        | `2013/08/08` | .NET       | N/A              | ⭐⭐                     |
| [calebpeterson/jest-transformer-test-md][35]                      | 2         | `2020/08/21` | JS         | Jest Tests       | ⭐⭐                     |
| [tjstankus/commitate][52]                                         | 0         | `2014/05/29` | Ruby       | N/A              | ⭐                       |
| [GitHub Docs: Creating a permanent link to a code snippet][23]    | N/A       | N/A          | N/A        | N/A              | ⭐                       |
| [javierfernandes/markdown-exercises][42]                          | 1         | `2017/05/01` | JS         | N/A              | ⭐                       |
| [gatsby-remark-embed-snippet][39]                                 | N/A (55k) | `2024/01/23` | JS         | [Gatsby][40]     | ⭐                       |
| [ARMmbed/snippet][30]                                             | 6         | `2021/08/05` | Python     | N/A              | ?                        |
| [drewavis/markdowninclude][28]                                    | 1         | `2024/04/06` | JS         | VSCode Extension | ?                        |
| [romnn/embedme][27]                                               | 0         | `2024/04/18` | Go         | N/A              | ?                        |

## 🫡 Contributions

### Development environment: Linux-like

- For running `pre.sh` (Linux-like environment).

  - From {{path('./.github/dependencies.yml', link='md')}}, which is used for
    the GH Action to do a fresh install of everything:

    {{shell('python -m yq --yaml-output  \'.dev\' .github/dependencies.yml',
            include_args=False,
            backtickify='yaml',
            indented=4
    )}}

  - Requires `pyenv`, or an exact matching version of python as in
    {{path('.python-version', link='md')}} (which is currently
    `{{ rawsnippet('.python-version') | trim }}`).
  - act (to run the GH Action locally):
    - Requires nodejs.
    - Requires Go.
    - docker.
  - Generate animation:
    - docker

### Commit Process

1. (Optionally) Fork the `develop` branch.
2. Stage your files: `git add path/to/file.py`.
3. `bash ./scripts/pre.sh`, this will format, lint, and test the code.
4. `git status` check if anything changed (generated
   {{path('./README.md', link='md')}} for example), if so, `git add` the
   changes, and go back to the previous step.
5. `git commit -m "..."`.
6. Make a PR to `develop` (or push to develop if you have the rights).

## 🔄🚀 Release Process

These instructions are for maintainers of the project.

1. In the `develop` branch, run `bash {{path('./scripts/pre.sh')}}` to ensure
   everything is in order.
2. In the `develop` branch, bump the version in
   {{path('./pyproject.toml', link='md')}}, following semantic versioning
   principles. Also modify the `last_unstable_release` and `last_stable_release`
   in the `[tool.{{project_name}}-project-metadata]` table as appropriate. Run
   `bash ./scripts/pre.sh` to ensure everything is in order.
3. In the `develop` branch, commit these changes with a message like
   `"Prepare release X.Y.Z"`. (See the contributions section
   [above](#commit-process)).
4. Merge the `develop` branch into the `master` branch:
   `git checkout master && git merge develop --no-ff`.
5. `master` branch: Tag the release: Create a git tag for the release with
   `git tag -a vX.Y.Z -m "Version X.Y.Z"`.
6. Publish to PyPI: Publish the release to PyPI with
   `bash ./scripts/deploy-to-pypi.sh`.
7. Push to GitHub: Push the commit and tags to GitHub with
   `git push && git push --tags`.
8. The `--no-ff` option adds a commit to the master branch for the merge, so
   refork the develop branch from the master branch:
   `git checkout develop && git merge master`.
9. Push the develop branch to GitHub: `git push origin develop`.

[1]:
  https://img.shields.io/github/actions/workflow/status/realazthat/{{project_name}}/build-and-test.yml?branch=master&style=plastic
[2]:
  https://github.com/realazthat/{{project_name}}/actions/workflows/build-and-test.yml
[3]:
  https://img.shields.io/github/license/realazthat/{{project_name}}?style=plastic&color={{badge_color}}
[4]:
  https://img.shields.io/pypi/v/{{project_name}}?style=plastic&color={{badge_color}}
[5]: https://pypi.org/project/{{project_name}}/
[6]:
  https://img.shields.io/github/commits-since/realazthat/{{project_name}}/v{{last_stable_release}}/master?style=plastic
[7]:
  https://img.shields.io/github/last-commit/realazthat/{{project_name}}/master?style=plastic
[8]:
  https://img.shields.io/pypi/pyversions/{{project_name}}?style=plastic&color={{badge_color}}
[9]:
  https://img.shields.io/github/languages/top/realazthat/{{project_name}}.svg?&cacheSeconds=28800&style=plastic&color={{badge_color}}
[10]:
  https://github.com/realazthat/{{project_name}}/compare/v{{last_stable_release}}...master
[11]:
  https://img.shields.io/github/actions/workflow/status/realazthat/{{project_name}}/build-and-test.yml?branch=develop&style=plastic
[12]:
  https://img.shields.io/github/commits-since/realazthat/{{project_name}}/v{{last_stable_release}}/develop?style=plastic
[13]:
  https://github.com/realazthat/{{project_name}}/compare/v{{last_stable_release}}...develop
[14]:
  https://img.shields.io/github/last-commit/realazthat/{{project_name}}/develop?style=plastic
[15]:
  https://img.shields.io/github/commits-since/realazthat/{{project_name}}/v{{last_unstable_release}}/develop?style=plastic
[16]:
  https://github.com/realazthat/{{project_name}}/compare/v{{last_unstable_release}}...develop
[17]: https://github.com/realazthat/{{project_name}}/tree/master
[18]: https://github.com/realazthat/{{project_name}}/tree/develop

<!-- Logo from https://lucide.dev/icons/users -->

[19]:
  https://img.shields.io/badge/Audience-Developers-{{badge_color}}?style=plastic&logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXVzZXJzIj48cGF0aCBkPSJNMTYgMjF2LTJhNCA0IDAgMCAwLTQtNEg2YTQgNCAwIDAgMC00IDR2MiIvPjxjaXJjbGUgY3g9IjkiIGN5PSI3IiByPSI0Ii8+PHBhdGggZD0iTTIyIDIxdi0yYTQgNCAwIDAgMC0zLTMuODciLz48cGF0aCBkPSJNMTYgMy4xM2E0IDQgMCAwIDEgMCA3Ljc1Ii8+PC9zdmc+

<!-- Logo from https://lucide.dev/icons/laptop-minimal -->

[20]:
  https://img.shields.io/badge/Platform-Linux-{{badge_color}}?style=plastic&logo=data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWxhcHRvcC1taW5pbWFsIj48cmVjdCB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHg9IjMiIHk9IjQiIHJ4PSIyIiByeT0iMiIvPjxsaW5lIHgxPSIyIiB4Mj0iMjIiIHkxPSIyMCIgeTI9IjIwIi8+PC9zdmc+
[21]: ./LICENSE.md
[22]: ./.github/logo-exported.svg
[23]:
  https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/creating-a-permanent-link-to-a-code-snippet
[24]: https://github.com/zakhenry/embedme
[25]: https://github.com/electrovir/markdown-code-example-inserter
[26]: https://github.com/dineshsonachalam/markdown-autodocs
[27]: https://github.com/romnn/embedme
[28]: https://github.com/drewavis/markdowninclude
[29]: https://github.com/tokusumi/markdown-embed-code
[30]: https://github.com/ARMmbed/snippet
[31]: https://github.com/SimonCropp/MarkdownSnippets
[32]: https://github.com/shiftkey/scribble
[33]:
  https://github.com/shiftkey/scribble/blob/master/docs/features/code-snippets.md
[34]: https://github.com/JulianCataldo/remark-embed
[35]: https://github.com/calebpeterson/jest-transformer-test-md
[36]: https://github.com/ildar-shaimordanov/git-markdown-snippet
[37]: https://github.com/sammndhr/gridsome-remark-embed-snippet
[38]: https://gridsome.org/
[39]:
  https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-remark-embed-snippet
[40]: https://github.com/gatsbyjs/gatsby
[41]: https://github.com/endocode/snippetextractor
[42]: https://github.com/javierfernandes/markdown-exercises
[43]: https://github.com/devincornell/pymddoc
[44]: https://github.com/NativeScript/markdown-snippet-injector
[45]: https://github.com/polywrap/doc-snippets
[46]:
  https://github.com/andersfischernielsen/Simple-Embedded-Markdown-Code-Snippets
[47]: https://github.com/xrd/oreilly-snippets
[48]: https://github.com/DamonOehlman/injectcode
[49]: https://github.com/fuxingloh/remark-code-import-replace
[50]: https://github.com/teyc/markdown-snippet
[51]: https://github.com/marc-bouvier-graveyard/baldir_markdown
[52]: https://github.com/tjstankus/commitate
[53]: https://github.com/cmacmackin/markdown-include
[54]: https://github.com/mdx-js/mdx
[55]:
  https://github.com/szkiba/mdcode
  "Extracts code blocks from README and produces tests; a similar approach, but quite different"
