# A README

Here is a code snippet:

`{{ pysnippet(path='snipinator/examples/code.py', symbol='MyClass', backtickify='py') }}`

Note that `code.py` has a test:
[{{path('./snipinator/examples/code_test.py')}}](./snipinator/examples/code_test.py)
