{%- if True -%}
# https://gist.github.com/mohanpedala/1e2ff5661761d3abd0385e8223e16425
set -e -x -v -u -o pipefail
set +v
PS4="${GREEN}$ ${NC}"

{% endif -%}

{#- example_type: {docker-remote, docker-local, python_module} -#}
{#- docker_image_name: str -#}
{#- module_name: str -#}
{#- snipinator_cmd: str -#}

{%- macro abort(error) -%}
    {{ None['[ERROR] ' ~ error][0] }}
{%- endmacro -%}

{%- if example_type in ['docker-remote', 'docker-local'] -%}
  {% set snipinator_cmd='docker run --rm --tty \\\n  -v \"${PWD}:/data\" \\\n  ' ~ docker_image_name %}
{%- elif example_type=='python_module' -%}
  {% set snipinator_cmd='python -m ' ~ module_name %}
{%- else -%}
  {{ abort('example_type is unknown value: ' ~ example_type) }}
{%- endif -%}

{%- if example_type in ['docker-remote', 'docker-local'] %}
YELLOW='\033[1;33m'
NC='\033[0m' # No Color

# Don't run this in act/GH actions because act doesn't play with with nested
# docker; the paths mess up.
if [[ -n "${GITHUB_ACTIONS:-}" ]]; then
  echo -e "${YELLOW}This script is not meant to be run in GitHub Actions.${NC}"
  exit 0
fi

{% endif-%}

: ECHO_SNIPPET_START
# SNIPPET_START
{% if example_type in ['docker-local'] -%}
docker build -t {{docker_image_name|safe}} .

{% endif -%}

# View the template file.
cat "snipinator/examples/EXAMPLE.md.jinja2"

{% if example_type in ['docker-remote'] -%}
# Use the published images at ghcr.io/realazthat/snipinator.
{% endif -%}
{% if example_type in ['docker-local', 'docker-remote'] -%}
# /data in the docker image is the working directory, so paths are simpler.
{% endif -%}
{{snipinator_cmd|safe}} \
  -t "snipinator/examples/EXAMPLE.md.jinja2" \
  --rm \
  --force \
  --create \
  -o "snipinator/examples/EXAMPLE.generated.md" \
  --chmod-ro

# View the generated file.
cat "snipinator/examples/EXAMPLE.generated.md"

# SNIPPET_END
: ECHO_SNIPPET_END
