# A README

Here is a code snippet (global class):

`{{ pysnippet(path='snipinator/examples/code.py', symbol='MyClass', backtickify='py') }}`

---

Here is a code snippet (class member method):

`{{ pysnippet(path='snipinator/examples/code.py', symbol='MyClass.MyClassMethod', backtickify='py') }}`

---

Same thing but just the signature:

`{{ pysignature(path='snipinator/examples/code.py', symbol='MyClass.MyClassMethod', backtickify='py') }}`

---

Here is a code snippet (global method):

`{{ pysnippet(path='snipinator/examples/code.py', symbol='GlobalMethod', backtickify='py') }}`

---

Here is a terminal snippet:

`{{ shell('python -m snipinator.cli --help', backtickify='console') }}`

---

Here is a terminal snippet with terminal colors (img tag external svg):

<!--
{{ shell('python -m snipinator.cli --help',
         rich='LONG-EXAMPLE.terminal-output.generated.svg',
         rich_bg_color='black',
         rich_alt='terminal output',
         rich_term='xterm-256color',
         decomentify=True)
}} -->

---

Here is a terminal snippet with terminal colors (img tag external svg), without
command included in the svg:

<!--
{{ shell('python -m snipinator.cli --help',
         rich='LONG-EXAMPLE.terminal-output-no-args.generated.svg',
         rich_bg_color='black',
         rich_alt='terminal output',
         rich_term='xterm-256color',
         include_args=False,
         decomentify=True)
}} -->

---

Here is a terminal snippet with terminal colors (img tag external svg, custom
dimensions), without command included in the svg:

<!--
{{ shell('python -m snipinator.cli --help',
         rich='LONG-EXAMPLE.terminal-dims.generated.svg',
         rich_bg_color='black',
         rich_alt='terminal output',
         rich_term='xterm-256color',
         rich_cols=100,
         include_args=True,
         decomentify=True)
}} -->

---

Here is a terminal snippet with terminal colors (img tag with svg data):

<!--
{{ shell('python -m snipinator.cli --help',
         rich='img+svg',
         rich_term='xterm-256color',
         decomentify=True) }}
-->

---

Here is a terminal snippet with terminal colors (raw svg):

<!--
{{ shell('python -m snipinator.cli --help',
         rich='svg',
         rich_term='xterm-256color',
         decomentify=True) }}
-->

---
