# A README

If you are viewing a rendered version of this page, you probably want to see the
source code to see how it's done.

## pysnippet: global class

`{{ pysnippet(path='snipinator/examples/code.py', symbol='MyClass', backtickify='py') }}`

## pysnippet: global method

`{{ pysnippet(path='snipinator/examples/code.py', symbol='GlobalMethod', backtickify='py') }}`

## pysnippet: class member method

`{{ pysnippet(path='snipinator/examples/code.py', symbol='MyClass.MyClassMethod', backtickify='py') }}`

## pysignature: class member method

Same thing but just the signature:

`{{ pysignature(path='snipinator/examples/code.py', symbol='MyClass.MyClassMethod', backtickify='py') }}`

## snippet

<!--
{{ snippet(path='snipinator/examples/code.py',
           start='  # DELIM_TEST_START',
           end='  # DELIM_TEST_END',
           backtickify='py',
           decomentify='nl') }}
-->

## self referencing path

<!--
{{ path('snipinator/examples/LONG-EXAMPLE.generated.md') }}
-->

## shell, no terminal colors

`{{ shell('python -m snipinator.cli --help', backtickify='console') }}`

## shell: terminal colors, img tag, external svg

<!--
{{ shell('python -m snipinator.cli --help',
         rich='LONG-EXAMPLE.terminal-output.generated.svg',
         rich_bg_color='black',
         rich_alt='terminal output',
         rich_term='xterm-256color',
         decomentify=True)
}} -->

## shell: terminal colors, img tag, external svg, no command in output

Here is a terminal snippet with terminal colors (img tag external svg), without
command included in the svg:

<!--
{{ shell('python -m snipinator.cli --help',
         rich='LONG-EXAMPLE.terminal-output-no-args.generated.svg',
         rich_bg_color='black',
         rich_alt='terminal output',
         rich_term='xterm-256color',
         include_args=False,
         decomentify=True)
}} -->

## shell: terminal colors, img tag, external svg, custom dimensions

Here is a terminal snippet with terminal colors (img tag external svg, custom
dimensions), _with_ command included in the svg:

<!--
{{ shell('python -m snipinator.cli --help',
         rich='LONG-EXAMPLE.terminal-dims.generated.svg',
         rich_bg_color='black',
         rich_alt='terminal output',
         rich_term='xterm-256color',
         rich_cols=100,
         include_args=True,
         decomentify=True)
}} -->

## shell: terminal colors, img tag, svg data uri

**Warning: This breaks on GitHub.**

Here is a terminal snippet with terminal colors (img tag with svg data):

<!--
{{ shell('python -m snipinator.cli --help',
         rich='img+svg',
         rich_term='xterm-256color',
         decomentify=True) }}
-->

## shell: terminal colors, raw svg

**Warning: This breaks on GitHub.**

Here is a terminal snippet with terminal colors (raw svg):

<!--
{{ shell('python -m snipinator.cli --help',
         rich='svg',
         rich_term='xterm-256color',
         decomentify=True) }}
-->
