# A README

Here is a code snippet:

<!--{{ pysnippet(path='examples/code.py', symbol='MyClass', backtickify='py', decomentify='nl') }}-->

Note that `code.py` has a test:
{{path('./examples/code_test.py', link='md')}}.
